package main

import (
	"fmt"
)

{{range .Xapi}}
// {{ .Description }}
type {{ .Name }} struct {
	{{range .Fields}}
	{{ .Name.Title }}     string // {{/* .Type */}}
	{{end}}
}
{{end}}

func main() {
		fmt.Println("it compiles")
}
